<div class="col-10 offset-1 about">
  <h1>About Jokify</h1>
  
  <br />
  <p>
    Jokify was built, as part of the <a target="_blank" href="http://github.com/MarcoMorawec">Firehose Project</a>, by Randy Goss. Leading the way in the program are <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a> -  two web developers on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>  
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'randy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Randy Goss</h2>
      <br />
      <p>
        Randy Goss hopes to build web apps someday. When he's not working on lessons for Firehose Project, he's hanging with his family in Citrus Heights, CA. In a past life, he did Artist Relations and a bunch of other stuff for a Y-Combinator-backed start-up.
      </p>
      <p>
        Wish me luck. I'm going to need it.
      </p>      
    </div>
  </div>
  <br class="clear" />  

  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />